{% load static from staticfiles %}
<head>
    <title> Invest Simulator </title>
    <link rel="shortcut icon" href="{% static "Home/images/dollar.jpg" %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Home/base.css' %}">
</head>
<body>
    <audio autoplay preload="auto" src="{% static "Home/music/bgMusic.mp3"%}" loop="-1" ></audio>
	<nav class="navbar navbar-light bg-white">
	    <div class="container-fulid">
	        <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img class="shortcuticon" src="{% static "Home/images/dollar.jpg" %}"/>
                    <i class="fas fa-home"></i> Home
                </a>
                <a class="navbar-brand" href="/user/signup">
                    <i class="fas fa-user"></i> Sign Up
                </a>
                <a class="navbar-brand" href="/user/login">
                    <i class="fas fa-sign-in-alt"></i> Log In
                </a>
            </div>
	    </div>
	</nav>
    <audio preload="auto" src="{% static "Home/music/bgMusic.mp3"%}" loop="true" autobuffer>
    Audio unsupported
    </audio>
    <i id="volumen" class="fas fa-volume-up" style="float: right; margin-right:3%;" onclick="Mute()"></i>

    <script>
        var volumen = document.getElementById("volumen");
        function Mute() {
            if (song.muted) {
                song.play();
                song.muted = false;
                volumen.className = "fas fa-volume-up";
            } else {
                song.muted = true;
                volumen.className = "fas fa-volume-mute";
            }
        }

        function setCookie(c_name, value, exdays){
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            document.cookie=c_name + "=" + c_value;
        }

        function getCookie(c_name){
            var i, x, y, ARRcookies=document.cookie.split(";");
            for (i=0;i<ARRcookies.length;i++){
              x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
              y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
              x=x.replace(/^\s+|\s+$/g, "");
              if (x==c_name){
                return unescape(y);
                }
              }
        }

        var song = document.getElementsByTagName('audio')[0];
        var played = false;
        var tillPlayed = getCookie('timePlayed');
        function update(){
            if(!played){
                if(tillPlayed){
                song.currentTime = tillPlayed;
                song.play();
                played = true;
                } else {
                    song.play();
                    played = true;
                }
            } else {
            setCookie('timePlayed', song.currentTime);
            }
        }
        setInterval(update,10);

    </script>

</body>
{% block body %}
{% endblock %}
