#ignorar mi virtual environment
venv
#ignorar la carpeta generada por jetbrains
.idea
#ejecutables de python
*.pyc
#base de datos
*.sqlite3
#iconos
.coverage
/InvestSimulator/media/profile_image/
/Game/migrations/
