#ignorar mi virtual environment
venv
#ignorar la carpeta generada por jetbrains
.idea
#base de datos
*.sqlite3
#iconos
.coverage
/InvestSimulator/media/profile_image/
#HEROKU
__pycache__
local_settings.py
#carpeta de visual studio
.vscode/
# DS Store
.DS_store
