{% extends 'Home/base.html' %}
{% load static from staticfiles %}

{% block body %}
    <link rel="stylesheet" href="{% static 'User/signupin.css' %}">

    <script src="{% static 'Game/lib/jquery.js' %}"></script>
    <script src="{% static 'Game/lib/jquery.capslock/jquery.capslockstate.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Game/css/toastr.scss' %}"/>
    <script src="{% static 'Game/lib/toastr.js' %}"></script>

    <div id="login-box" class="w3-animate-zoom">

        <form method="POST">
            {% csrf_token %}

            <h1>Log in</h1>

            <div class="username_div">
                {% if form.errors %}
                    <p style="color: red;">Incorrect username or password.</p>
                {% endif %}
            </div>

            <div class="username_div">
                <input type="text" name="username" placeholder="Username"/>
                <div class="username_error">
                    {{ form.username.errors }}
                </div>
            </div>

            <div class="password_div">
                <input type="password" name="password" placeholder="Password"/>
                <div class="password_error">
                    {{ form.password.errors }}
                </div>
            </div>

            <input type="submit" name="signup_submit" value="Log in"/>

        </form>
    </div>
    <script>
        $(document).ready(
            function () {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "100",
                    "timeOut": "100000",
                    "extendedTimeOut": "100",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",
                    "positionClass": "toast-bottom-center",
                };

                $(window).capslockstate();

                $(window).bind("capsChanged", function (event) {
                    if ($(window).capslockstate("state") === true) {
                        toastr.warning("Caps lock is on! Be careful!");
                    } else {
                        toastr.clear()
                    }
                });

            }
        );
    </script>
{% endblock %}