{% extends 'Home/base.html' %}
{% load static from staticfiles %}

{% block body %}
    <link rel="stylesheet" href="{% static 'User/signupin.css' %}">
    <link rel="stylesheet" href="{% static 'User/avatar.css' %}">
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <div id="login-box">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <h1>Sign up</h1>

            <div class="avatar">
                <img id="blah" src="http://localhost:8000/user/media/profile_image/no_image.jpg">
                <label for="avatar" class="fileContainerRegister">
                    Select your avatar
                    <input type="file" onchange="readURL(this);" name="avatar" id="avatar"/>
                </label>
                {{ form.avatar.errors }}

            </div>

            <div class="first_name_div">
                <input type="text" name="first_name" placeholder="First name"/>
                <div class="first_name_error">
                    {{ form.first_name.errors }}
                </div>
            </div>

            <div class="last_name_div">
                <input type="text" name="last_name" placeholder="Last name"/>
                <div class="last_name_error">
                    {{ form.last_name.errors }}
                </div>
            </div>

            <div class="username_div">
                <input type="text" name="username" placeholder="Username"/>
                <div class="username_error">
                    {{ form.username.errors }}
                </div>
            </div>

            <div class="email1_div">
                <input type="email" name="email1" placeholder="Email"/>
                <div class="email1_error">
                    {{ form.email1.errors }}
                </div>
            </div>

            <div class="email2_div">
                <input type="email" name="email2" placeholder="Email confirmation"/>
                <div class="email2_error">
                    {{ form.email2.errors }}
                </div>
            </div>

            <div class="password1_div">
                <input type="password" name="password1" placeholder="Password"/>
                <div class="password1_error">
                    {{ form.password1.errors }}
                </div>
            </div>

            <div class="password2_div">
                <input type="password" name="password2" placeholder="Password confirmation"/>
                <div class="password2_error">
                    {{ form.password2.errors }}
                </div>
            </div>

            <input type="submit" name="signup_submit" value="Sign me up"/>

        </form>
    </div>
{% endblock %}