

.qbox {
    padding: 23px;
}

.timer {
    font-size: 25px;
    color: white;
    background: green;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
}

#quantity {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: center;
    width: 100px;
}

label {
    padding-top: 25px;
    font-size: larger;
}

.attr {
    float: left;
    width: 70%;
    padding: 5px;
    text-align: left;
}

.value {
    float: right;
    width: 30%;
    padding: 5px;
}

.dinamic {
    color: white;
    border-radius: 20px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.short {
    width: 30%;
    height: 200px;
}

.large {
    width: 30%;
    height: 400px;
}

button {
    background: #4EB5E6;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
}

button:hover {
    background: darkslategrey;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

input[type="submit"] {
    margin: 0 auto;
}


input[type="submit"] {
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}