{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}

    <link rel="stylesheet" href="{% static 'Game/css/assets.css' %}">
    <link rel="stylesheet" href="{% static 'Game/css/select_date.css' %}">

    <script src="{% static 'Game/js/jquery.js' %}"></script>


    <link rel="stylesheet" href="{% static 'Game/nicenumber/jquery.nice-number.css' %}">
    <script src="{% static 'Game/nicenumber/jquery.nice-number.js' %}"></script>

    <link rel="stylesheet" href="{% static 'Game/css/buy-form.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% csrf_token %}
    <script src="{% static 'Game/js/buy-form.js' %}"></script>

    <div align="center" class="outer w3-container w3-center w3-animate-zoo">
        <div align="center" class="middle">
            <div align="center" class="assets inner">
                {% if assets %}
                    <div id="quantity-form" class="dinamic short">
                        <label for="quantity">How much assets do you want
                            to purchase?</label>
                        <div class="qbox">
                            <input id="quantity" type="number" name="quantity"
                                   value="1" min="1">
                        </div>
                        <input id="send-q" type="submit" value="Send"/>
                        <input id="cancel-q" type="submit" value="Cancel"/>
                    </div>
                    <div id="accept-form" class="dinamic large">
                        <label>Please confirm your transaction:</label>

                        <div class="qbox">
                            <p class="attr">Your asset: </p><p id="name" class="value"></p>
                            <p class="attr">Asset price: </p><p id="price" class="value"></p>
                            <p class="attr">Total transaction value: </p><p id="total" class="value"></p>
                        </div>

                        <input id="accept-p" type="submit" value="Buy"/>
                        <input id="cancel-p" type="submit" value="Cancel"/>
                    </div>
                    <div id="trans-status" class="dinamic short">
                        <label>Your transaction is being processed</label>

                        <div class="qbox">
                            <p id="status"></p>
                            <i class="fa fa-spinner fa-spin" id="loading" style="font-size:36px;"></i>
                        </div>

                        <input id="accept-t" type="submit" value="OK"/>
                    </div>
                    <table>
                        <tr>
                            <th> Name </th>
                            <th> Buy price </th>
                            <th> Sell price </th>
                            <th> Type </th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for a in assets %}
                            <tr>
                                <td>{{ a.name }}</td>
                                <td>$ {{ a.buy }}</td>
                                <td>$ {{ a.sell }}</td>
                                <td> {{ a.type }} </td>
                                <td><a class="action w3-button w3-green w3-round-large " id="{{ a.name }}" type="{{ a.type }}" href="#">
                                    <i class="fas fa-dollar-sign"></i> Buy
                                </a></td>
                                <td><a class="action w3-button w3-green w3-round-large " href="/game/history/{{ a.name }} ">
                                        <i class="fas fa-history"></i> History
                                </a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="error_message">
                        <h1> There are no available assets </h1>
                    </div>
                {% endif %}
                <ul>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
