{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}

    {# LINKS AND SCRIPTS #}
    {#    //font-awesome#}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div align="center" class="middle assets">

        {% include 'Game/transaction-form.html' %}

        {# CONTENT #}
        <button class="w3-button w3-green w3-round-large w3-animate-zoom"
                style="width: 12%; height: 7%; margin: 10px">
            <i class="fas fa-dollar-sign"></i> {{ liquid }} <i
                class="fas fa-piggy-bank"></i>
        </button>
        <button class="w3-button w3-green w3-round-large w3-animate-zoom"
                style="width: 12%; height: 7%; margin: 10px">
            <i class="fas fa-dollar-sign"></i> {{ value_wallet }} <i
                class="fas fa-wallet"></i>
        </button>

        <div id="assets" class="w3-container w3-animate-zoom assets"
             align="center">
            {% if assets %}
                <table id="dinamic-table">
                    <caption class="title">Available assets in market are:
                    </caption>
                    <tr>
                        <th> Name</th>
                        <th> Type</th>
                        <th> Sell price</th>
                        <th> Buy</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for a in assets %}
                        <tr class="dinamic-row">
                            <td id="name">{{ a.name }}</td>
                            <td id="type">{{ a.type }}</td>
                            <td id="sell">$ {{ a.sell }}</td>
                            <td id="buy">$ {{ a.buy }} </td>
                            <td>
                                <a class="action w3-button w3-green w3-round-large "
                                   id="{{ a.name }}" type="{{ a.type }}"
                                   href="#">
                                    <i class="fas fa-dollar-sign"></i> Buy
                                </a></td>
                            <td>
                                <a class="w3-button w3-green w3-round-large "
                                   href="/game/history/{{ a.name }} ">
                                    <i class="fas fa-history"></i> History
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <script src="{% static 'Game/js/assets-reload.js' %}"></script>
                <script>reload_all();</script>
            {% else %}
                <div class="error_message">
                    <h1> There are no available assets </h1>
                </div>
            {% endif %}
            <ul>
            </ul>
        </div>
        <script>
            prepare_token();
            prepare_input_nicenumber();
            prepare_transaction(transaction_types.buy, "{{ liquid }}")
        </script>
    </div>

{% endblock %}
