{% load static from staticfiles %}
<head>
    <title> Invest Simulator </title>
    <link rel="shortcut icon" href="{% static "Home/images/dollar.jpg" %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'Game/css/base.css' %}">
</head>
<body>
	<nav class="navbar navbar-light bg-white">
	    <div class="container-fulid">
                <a class="navbar-brand " href="/game">
                    <img class="shortcuticon" src="{% static "Home/images/dollar.jpg" %}"/>
                    <i class="fas fa-home"></i> Home
                </a>
                <a class="navbar-brand" href="/game/wallet/">
                    <i class="fas fa-wallet"></i> Wallet
                </a>
                <a class="navbar-brand" href="/game/assets">
                    <i class="fas fa-chart-line"></i> Market
                </a>
	    </div>
        <div class="navbar-brand" style="float: right;">
            <div class="w3-dropdown-hover" style="background: white;">
                <button class="w3-button">
                    <a href="/user/profile" class="navbar-brand">
                        <i class="fas fa-user"></i> Profile </a>
                </button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                  <a href="/user/profile/edit" class="w3-bar-item w3-button">
                      <i class="fas fa-user-edit"></i> Edit Profile</a>
                  <a href="/user/profile/password" class="w3-bar-item w3-button">
                      <i class="fas fa-user-cog"></i> Password </a>
                </div>
              </div>
            <a class="navbar-brand" href="/user/logout">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
	</nav>

    <audio preload="auto" src="{% static "Home/music/bgMusic.mp3"%}" loop="true" autobuffer>
    Audio unsupported
    </audio>
    <i id="volumen" class="fas fa-volume-mute" style="float: right; margin-right:3%;" onclick="Mute()"></i>

<script>


    var volumen = document.getElementById("volumen");
    function Mute() {
        if (song.muted) {
            song.play();
            song.muted = false;
            volumen.className = "fas fa-volume-up";
        } else {
            song.muted = true;
            volumen.className = "fas fa-volume-mute";
        }
    }

    function setCookie(c_name, value, exdays){
        var exdate=new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
        document.cookie=c_name + "=" + c_value;
    }

    function getCookie(c_name){
        var i, x, y, ARRcookies=document.cookie.split(";");
        for (i=0;i<ARRcookies.length;i++){
          x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
          y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
          x=x.replace(/^\s+|\s+$/g, "");
          if (x==c_name){
            return unescape(y);
            }
          }
    }

    var song = document.getElementsByTagName('audio')[0];
    var played = false;
    var tillPlayed = getCookie('timePlayed');
    function update(){
        if(!played){
            if(tillPlayed){
            song.currentTime = tillPlayed;
            song.play();
            played = true;
            song.muted = true;
            } else {
                song.play();
                played = true;
            }
        } else {
        setCookie('timePlayed', song.currentTime);
        }
    }
    setInterval(update,10);

</script>

{% block body %}
{% endblock %}
</body>
