{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}
    {% block alert %}
    {% endblock %}
    <body>
        <div class="w3-center w3-animate-zoom">
            <div class="w3-container" style="margin: 5% auto auto auto">
                <a href="/user/profile/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-user"></i> Profile
                </button> </a>
                <a href="/game/wallet/"> <button href="/game/wallet/" class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-wallet"></i> Wallet
                </button> </a>
            </div>
            <div class="w3-container" >
                <a href="/game/assets/"> <button href="/game/assets" class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-chart-line"></i> Market
                </button> </a>
                <a href="#"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-bullhorn"></i> Alerts
                </button> </a>
            </div>
            <div class="w3-container" >
                <a href="/game/ranking/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-trophy"></i> Ranking
                </button> </a>
                <a href="/game/transactions/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-history"></i> History
                </button> </a>
            </div>
            <div class="w3-container" >
                <img height="12%" src="{% static 'Home/images/Colorete.gif' %}">
                <a href="#"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-file-alt"></i> About
                </button> </a>
                <img height="15%" src="{% static 'Home/images/Colorete.gif' %}">
            </div>
        </div>
    </body>
{% endblock %}