{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}
    {% block alert %}
    {% endblock %}

    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{% static 'Game/js/home.js' %}"></script>

    <body>
        <div class="w3-center w3-animate-zoom" id="all">
            <div class="w3-container" style="margin: 5% auto auto auto">
                <a href="/user/profile/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-user"></i> Profile
                </button> </a>
                <a href="/game/wallet/"> <button href="/game/wallet/" class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-wallet"></i> Wallet
                </button> </a>
            </div>
            <div class="w3-container" >
                <a href="/game/assets/"> <button href="/game/assets" class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-chart-line"></i> Market
                </button> </a>
                <a href="#"> <button class="w3-button w3-black w3-round-large" id="loan" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-hand-holding-usd"></i> Loans
                </button> </a>
            </div>
            <div class="w3-container" >
                <a href="#"> <button class="w3-button w3-black w3-round-large" id="alert" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-bullhorn"></i> Alerts
                </button> </a>
                <a href="#"> <button class="w3-button w3-black w3-round-large" id="transactions" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-history"></i> Transaction History
                </button> </a>
            </div>
            <div class="w3-container" >
                <img height="12%" src="{% static 'Home/images/Colorete.gif' %}">
                <a href="/game/ranking/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-trophy"></i> Ranking
                </button> </a>
                <img height="15%" src="{% static 'Home/images/Colorete.gif' %}">
            </div>
        </div>

        <div class="w3-center w3-animate-zoom" id="transactions-options">
            <div class="w3-container" style="margin: 5% auto auto auto">
                <a href="/game/transactions"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-history"></i> Your transactions
                </button> </a>
                <a href="/game/players_list"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-users"></i> Players transactions
                </button> </a>
            </div>
            <div class="w3-container" >
                <a href=""> <button class="w3-button w3-black w3-round-large" id="transaction_back" style="width: 8%; height: 6%; margin: 10px">
                    <i class="fas fa-arrow-left"></i> Go back
                </button> </a>
            </div>
        </div>

        <div class="w3-center w3-animate-zoom" id="alert-options">
            <div class="w3-container" style="margin: 5% auto auto auto">
                <a href="/game/alarms/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-bullhorn"></i> Your alerts
                </button> </a>
                <a href="/game/alarm/set/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-plus"></i> Set new alert
                </button> </a>
            </div>
            <div class="w3-container" >
                <a href="#"> <button class="w3-button w3-black w3-round-large" id="alert_back" style="width: 8%; height: 6%; margin: 10px">
                    <i class="fas fa-arrow-left"></i> Go back
                </button> </a>
            </div>
        </div>

        <div class="w3-center w3-animate-zoom" id="loan-options">
            <div class="w3-container" style="margin: 5% auto auto auto">
                <a href="/game/loans/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-hand-holding-usd"></i> Available loans
                </button> </a>
                <div>
                <a href="/game/loans/offered"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-address-book"></i> Offered loans
                </button> </a>
                <a href="/game/loans/taken/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-address-book"></i> Taken loans
                </button> </a>

                </div>
            </div>
            <div>
                <a href="/game/loan/set/"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-plus"></i> Offer new loan
                </button> </a>
                <a href="/game/loans"> <button class="w3-button w3-black w3-round-large" style="width: 15%; height: 12%; margin: 10px">
                    <i class="fas fa-plus"></i> Take new loan
                </button> </a>
            </div>
            <div class="w3-container" >
                <a href="#"> <button class="w3-button w3-black w3-round-large" id="loan_back" style="width: 8%; height: 6%; margin: 10px">
                    <i class="fas fa-arrow-left"></i> Go back
                </button> </a>
            </div>
        </div>
    </body>
{% endblock %}