{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}

    {# LINKS AND SCRIPTS #}
    {#    //font-awesome#}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script class="jsbin"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    {#    NICE NUMBER#}
    <link rel="stylesheet"
          href="{% static 'Game/lib/nicenumber/jquery.nice-number.css' %}">
    <script src="{% static 'Game/lib/nicenumber/jquery.nice-number.js' %}"></script>

    {#    PERSONAL#}
    <link rel="stylesheet" href="{% static 'Game/css/transaction-form.css' %}">
    <link rel="stylesheet" href="{% static 'Game/css/assets.css' %}">
    <link rel="stylesheet" href="{% static 'Game/css/loans.css' %}">

    <script src="{% static 'Game/js/ajax.transactions.js' %}"></script>
    <script src="{% static 'Game/js/offered_loans.js' %}"></script>



    <div align="center" class="middle assets inner">

        {% csrf_token %}

        <div id="quantity-form" class="dinamic short overlay middle">
            How much money you want to withdraw?
            <label for="quantity"></label>
            <div class="qbox">
                <input id="quantity" class="number-input" type="text"
                       name="quantity middle"
                       value="1" min="1">
            </div>
            <input id="send-quantity" type="submit" value="Withdraw"/>
            <input id="cancel-quantity" type="submit" value="Cancel"/>
            <script>
                prepare_input_nicenumber();
            </script>
        </div>

        <div id="confirm-deletion-form" class="dinamic short overlay middle"
             style="height: 150px; width: 25%">
            <p style="padding: 5px; font-size: 20px">Are you sure you want to
                delete this offered loan?</p>
            <p style="padding: 3px; font-size: 17px">This action cannot be
                reverted</p>

            <input id="send-confirm-deletion" type="submit" value="YES"/>
            <input id="send-cancel-deletion" type="submit" value="NO"/>
        </div>

        <div id="deletion-status" class="dinamic short overlay"
             style="width: 25%">
            <label>Offered loan is being deleted</label>

            <div class="qbox">
                <p id="status"></p>
                <i class="fa fa-spinner fa-spin" id="loading"
                   style="font-size:36px;"></i>
            </div>

            <input id="cancel-deletion" class="cancel" type="submit"
                   value="CANCEL"/>
        </div>

        <div id="modification-status" class="dinamic short overlay"
             style="width: 25%">
            <label>Offered loaned money is being modified</label>

            <div class="qbox">
                <p id="status"></p>
                <i class="fa fa-spinner fa-spin" id="loading"
                   style="font-size:36px;"></i>
            </div>

            <input id="cancel-modification" class="cancel" type="submit"
                   value="CANCEL"/>
        </div>

        <div id="assets" class="w3-container w3-animate-zoom assets"
             align="center">
            {% if loan_offers %}
                <table id="dinamic-table">
                    <caption class="title">Your loan offers are:
                    </caption>
                    <tr>
                        <th> Offered</th>
                        <th> Interest rate</th>
                        <th> Days due</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for lo in loan_offers %}
                        <tr class="dinamic-row">
                            <td id="loan"> $ {{ lo.offered }} </td>
                            <td id="interest_rate"> {{ lo.interest_rate }}</td>
                            <td id="days"> {{ lo.days }} </td>
                            <td>
                                <a class="action w3-button w3-green w3-round-large offered_loans-modifier"
                                   href="#" id="{{ lo.id }}" >
                                    <i class="fas fa-wrench"></i> Withdraw
                                </a>
                            </td>
                            <td>
                                <a class="action w3-button w3-green w3-round-large offered_loans-deleter"
                                   href="#" id="{{ lo.id }}" >
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="error_message">
                    <h1> There are no offered loans available </h1>
                </div>
            {% endif %}
            <ul>
            </ul>
        </div>
    </div>

{% endblock %}