{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}

    <link rel="stylesheet" href="{% static 'Game/css/assets.css' %}">
    <link rel="stylesheet" href="{% static 'Game/css/loans.css' %}">
    <div align="center" class="outer w3-container w3-animate-zoom middle assets inner">
        {% if users %}
            <table>
                <tr>
                    <th> Rank </th>
                    <th> User </th>
                    <th> Total </th>
                </tr>
                {% for u in users %}
                    <tr>
                        <td style="font-size: 23px; font-weight: bold">
                            {{ u.ranking }}
                        </td>
                        <td><img class="user_img" src="{{ u.img }}">
                            {{ u.username }} </td>
                        <td> {{ u.wallet }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="error_message">
                <h1> Don't exist any user </h1>
            </div>
        {% endif %}
        <ul>
        </ul>
    </div>

{% endblock %}
