{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}

    {# LINKS AND SCRIPTS #}
    {#    //font-awesome#}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {#   JQUERY #}
    <script src="{% static 'Game/lib/jquery.js' %}"></script>
    {#    NICE NUMBER#}
    <link rel="stylesheet"
          href="{% static 'Game/lib/nicenumber/jquery.nice-number.css' %}">
    <script src="{% static 'Game/lib/nicenumber/jquery.nice-number.js' %}"></script>

    <link rel="stylesheet" href="{% static 'Game/css/transaction-form.css' %}">
    <script src="{% static 'Game/js/ajax.transactions.js' %}"></script>

    {#    PERSONAL#}
    <link rel="stylesheet" href="{% static 'Game/css/assets.css' %}">
    <link rel="stylesheet" href="{% static 'Game/css/alarm.css' %}">

    {% csrf_token %}
    <script src="{% static 'Game/js/alarm.js' %}"></script>

    <div align="center" class="middle assets inner" style="padding-top: 0">

        <div id="assets" class="w3-container w3-animate-zoom assets"
             align="center">

            <div id="trans-status" class="dinamic short overlay">
                <p class="form-t" id="status-info">Your alert is being processed</p>

                <div class="qbox">
                    <p id="status"></p>
                    <i class="fa fa-spinner fa-spin" id="loading"
                       style="font-size:36px;"></i>
                </div>

                <input id="accept-success" type="submit" value="OK"/>
            </div>

            <div id="quantity-form" class="dinamic not-so-large overlay middle">
                <p style="font-size: 23px;" id="qform-title"></p>

                <p class="form-t">Set your alarm type</p>
                <div class="type-box container">
                    <form class="toggle">
                        <input type="radio" id="choice1" name="type"
                               value="up" checked="checked">
                        <label for="choice1" class="type">Up</label>
                        <input type="radio" id="choice2" name="type"
                               value="down">
                        <label for="choice2" class="type">Down</label>

                        <div id="flaptype"><span class="content">Down</span>
                        </div>
                    </form>
                </div>

                <div class="type-info-container">
                    <div class="type-info up-info">
                        <p>
                            This option will trigger the alarm when the
                            asset buy price reaches a higher value than the
                            threshold
                        </p>
                    </div>
                    <div class="type-info down-info">
                        <p>
                            This option will trigger the alarm when the
                            asset buy price reaches a lower value than the
                            threshold
                        </p>
                    </div>
                </div>

                <div class="thres-box">
                    <p class="form-t" style="padding-top: 5px">Set your alarm price type</p>
                    <div class="type-box container">
                        <form class="toggle toggle2">
                            <input type="radio" id="price_choice_1" name="price"
                                   value="buy" checked="checked">
                            <label for="price_choice_1" class="price">Buy</label>
                            <input type="radio" id="price_choice_2" name="price"
                                   value="sell">
                            <label for="price_choice_2" class="price">Sell</label>

                            <div id="flapprice"><span class="content">Buy</span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="thres-box">
                    <p class="form-t">Set your threshold</p>
                    <input id="quantity" class="number-input" type="text"
                           name="quantity middle"
                           value="1" min="1">
                </div>

                <input id="send-alert" class="send-button" type="submit" value="Set alert"/>
                <input id="cancel-alert" class="send-button" type="submit" value="Cancel"/>
            </div>
            <script>
                prepare_input_nicenumber();
            </script>

            {% if assets %}
                <table id="asset-table">
                    <caption class="title">Select the asset you want to set
                                        an alarm for:
                    </caption>
                    <tr>
                        <th> Name</th>
                        <th> Type</th>
                        <th> Sell price</th>
                        <th> Buy</th>
                        <th>
                            Set alarm
                        </th>
                    </tr>
                    {% for a in assets %}
                        <tr class="dinamic-row">
                            <td id="name">{{ a.name }}</td>
                            <td id="type">{{ a.type }}</td>
                            <td id="sell">$ {{ a.sell }}</td>
                            <td id="buy">$ {{ a.buy }} </td>
                            <td>
                                <a class="set-alarm w3-button w3-green w3-round-large "
                                   href="#" id="{{ a.name }}">
                                    <i class="fas fa-bullhorn"></i> Set
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <div class="error_message">
                    <h1> There are no available assets </h1>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}