{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}

    <link rel="stylesheet" href="{% static 'Game/assets.css' %}">
    <div align="center" class="outer w3-container w3-animate-zoom middle assets inner">
        {% if transactions %}
            <table>
                <tr>
                    <th> Date </th>
                    <th> Asset </th>
                    <th> Type </th>
                    <th> Price </th>
                    <th> Quantity </th>
                </tr>
                {% for t in transactions %}
                    <tr>
                        <td>{{ t.date }}</td>
                        <td>{{ t.asset.name }} </td>
                        {% if t.is_purchase %}
                            <td> bought </td>
                        {% else %}
                            <td> sold </td>
                        {%  endif %}
                        <td>{{ t.asset_price }} </td>
                        <td>{{ t.quantity }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="error_message">
                <h1> You don't have any transactions </h1>
            </div>
        {% endif %}
        <ul>
        </ul>
    </div>

{% endblock %}
