{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}

    <div align="center" style="background: white">
        <h2>
            {% if error %}
                Our team is having an internal server error we are very sorry
            {% else %}
                Welcome to your wallet, your liquid money is: {{ liquid }}
            {% endif %}
        </h2>

        {% if assets %}
            <table>
                <tr>
                    <th> Asset Name</th>
                    <th> Buy</th>
                    <th> Sell</th>
                    <th> Type</th>
                    <th>Valor Histórico </th>
                </tr>
                {% for a in assets %}
                    <tr>
                        <td>{{ a.name }}</td>
                        <td>{{ a.buy }}</td>
                        <td>{{ a.sell }}</td>
                        <td>{{ a.type }}</td>
                        <td><a href="#">Ver</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h1> You have no avilable assets </h1>
        {% endif %}

    </div>
{% endblock %}
