{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}

    <link rel="stylesheet" href="{% static 'Game/assets.css' %}">
    <link rel="stylesheet" href="{% static 'Game/wallet.css' %}">
    <div align="center" class="outer">
        <div align="center" class="middle">
            <div align="center" class="assets inner">
                {% if assets %}
                    <table>
                        <caption class="title">Your purchased assets are:
                        </caption>
                        <tr>
                            <th> Asset Name</th>
                            <th> Buy</th>
                            <th> Sell</th>
                            <th> Type</th>
                            <th> Quantity</th>
                        </tr>
                        {% for a in assets %}
                            <tr>
                                <td>{{ a.name }}</td>
                                <td>{{ a.buy }} $</td>
                                <td>{{ a.sell }} $</td>
                                <td>{{ a.type }}</td>
                                <td>{{ a.quantity }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="error_message">
                        <h1> You have not purchased any assets, yet! </h1>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div align="center" class="liquid">
        <h2>
            {% if error %}
                Invest simulator ran into server related issues. We are truly
                sorry.
            {% else %}
                Welcome to your wallet. Current cash amount: {{ liquid }} $<br>
                Current net worth: {{ value_wallet }} $
            {% endif %}
        </h2>
    </div>
{% endblock %}
