{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}
    <link rel="stylesheet" href="{% static 'User/signup.css' %}">
    <form method="POST">
        {% csrf_token %}
        <div id="login-box" class="w3-animate-zoom">
             <h1>Change Password</h1>
            <div class="left">
{#                {{ form.as_p }}#}
                <input type="password"  name="old_password" required id="id_old_password" placeholder="Old Password"/>
                <div class="password1_error">
                    {{ form.old_password.errors }}
                </div>
                <input type="password" name="new_password1" required id="id_new_password1" placeholder="New password"/>
                <input type="password" name="new_password2" required id="id_new_password2" placeholder="Confirm new password"/>
                <div class="password2_error">
                    {{ form.old_password2.errors }}
                </div>
                <input type="submit" name="signup_submit" value="Save Changes"/>
            </div>
        </div>
        <br>
    </form>
{% endblock %}
