{% load static from staticfiles %}
<head>
    <title> Invest Simulator </title>
    <link rel="shortcut icon" href="{% static "Home/images/dollar.jpg" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Game/base.css' %}">
</head>
<body>
	<nav class="navbar navbar-light bg-white">
	    <div class="container-fulid">
                <a class="navbar-brand" href="/game">
                    <img class="shortcuticon" src="{% static "Home/images/dollar.jpg" %}"/>
                </a>
                <a class="navbar-brand" href="/wallet/"> Wallet </a>
                <a class="navbar-brand" href="/user/profile"> Profile </a>
	            <a class="navbar-brand" href="/user/logout"> Logout </a>
        </div>
        <div class="container">
            <link rel="stylesheet" href="{% static 'User/signup.css' %}">
            <form method="post">
                {% csrf_token %}
                    {{ form }}
                <button type="submit">Save changes</button>
                <br>
                <br>
                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </form>
        </div>
	</nav>
{% block body %}
{% endblock %}
</body>