{% extends 'base.html' %}
{% load static from staticfiles %}

{% block body %}
    <link rel="stylesheet" href="{% static 'User/signup.css' %}">
    <form method="POST">
    {% csrf_token %}
        <div id="login-box">
            <div class="left">
                <input value={{ email }} type="email" name="email" placeholder="Email" />
                {% if form.email_error %}
                <ul><li>{{ form.email_error }}</li></ul>
                {% endif %}
                <input value={{ first }} type="text" id="id_first_name" name="first_name" placeholder="First Name"/>
                <input value={{ last }} type="text" id="id_last_name" name="last_name" placeholder="Last Name" />
                <button type="submit"> Submit </button>
            </div>
        </div>
  </form>
{% endblock %}