{% extends 'Game/base.html' %}
{% load static from staticfiles %}

{% block body %}
    <link rel="stylesheet" href="{% static 'User/signup.css' %}">
    <form method="POST">
    {% csrf_token %}
        <div id="login-box">
            <div class="left">
                <h1>Username: {{ user }}</h1>
                <h1>Email: {{ user.email }}</h1>
                <h1>First Name: {{ user.first_name }}</h1>
                <h1>Last Name: {{ user.last_name }}</h1>
                <img src="http://localhost:8000/user{{ image_url }}" width="240">
                <a href="/user/profile/password">
                   <input type="button" value="Change Password" />
                </a>
                <a href="/user/profile/edit">
                   <input type="button" value="Edit Profile" />
                </a>
            </div>
        </div>
  </form>
{% endblock %}